<h1>Welcome!</h1>
<!-- <mfa-areas></mfa-areas>
 -->
<mfa-container>
  <mfa-areas></mfa-areas>
  <mfa-citizent></mfa-citizent>
  <h1>This is from Content!</h1>
</mfa-container>

<div #name></div>

<!-- renders info depending on the role from app.comp.ts 
  <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome User!</div>
  <div *ngSwitchCase="'Admin'">
    <mfa-areas></mfa-areas>
  </div>
  <div *ngSwitchDefault>You are not authorized to view this page!</div>
</div>-->

<!-- <div>
  <ng-template #user></ng-template>
  <h1>Welcome User!</h1>
</div> -->
